<article class="post"> {{!helps minimize repeated code across templates | can extract smaller components from a template to reuse in other templates}}
  <div class="title">
    <a href="{{post_url}}" target="_blank">{{title}}</a> {{! links to handlebars for th post}}
    <span>({{format_url post_url}})</span>
  </div>
  <div class="meta">
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>